<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>

        <body>
            <h1 class='post-header'>Posts</h1>
            <ol class='post-list'>
                <% results.forEach(function(post) {%>
                    <div class="post-container">
                        <li>
                            <div class="img-header">
                                <img src="<%= post.imageUrl %>" alt="Post image for <%= post.postedBy.name %>" width="60"
                                    height="60">
                            </div>
                            <div class="post-info">
                                <p class='title-details'>
                                    <b>
                                        <%= post.message %>
                                    </b>
                                    
                                </p>
                                <%if (post.likedBy.length> 0) {%>
                                    <p class='like-info'>
                                        <%= post.likedBy[0].name %>
                                            and <%= post.likedBy.length-1 %> others <b>like</b> this
                                    <% } %>
                                    <div class="like-buttons">
                                        <form method="post" action="/posts/<%= post.id %>/like/">
                                            <button type="submit" class='btn'>like</button>
                                        </form>
                                        <form method="post" action="/posts/<%= post.id %>/dislike/">
                                        <button type="submit" class='btn'>dislike</button>
                                    </div>
                                <%if (post.dislikedBy.length> 0) {%>
                                       <p class="like-info"><%= post.dislikedBy[0].name %>
                                            and <%= post.likedBy.length-1 %> others <b>dislike</b> this </p>
                                    <% } %>
                                            <p class='author-details'><em>posted by <a href="../users/<%=post.postedBy.id%>">
                                                <%= post.postedBy.username %>
                                            </a> on <%= post.createdAt %>
                                                </em>
                                            </p>
                                        </form>
                            </div>
                        </li>
                    </div>
                    <% }); %>
            </ol>
            <div class="navigation">
                <%if (previous) { %>
                    <a class='previous' href="<%= previous %>">Previous</a>
                    <% } %>
                        <%if (next) { %>
                            <a class='next' href="<%= next %>">Next</a>
                            <% } %>
            </div>
        </body>
        <%- include('_footer') -%>

</html>