<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<ol>
    <% results.forEach(function(post) {%>
        <li>
            <img src="<%= post.imageUrl %>" alt="Post image for <%= post.postedBy.name %>" width="60" height="60">
            <p>
                <b><%= post.message %> <br></b>
                <em>posted by <%= post.postedBy.username %> on <%= post.createdAt %></5></em> </p>
                <p> <em>Liked</em> by <%= post.likedBy.length %> people</p>
                <p> <em>Disliked</em> by <%= post.dislikedBy.length %> people</p>
        </li>
    <% }); %>
</ol>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>