<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>

        <body>
            <h1 class='post-header'>Posts</h1>
            <ol class='post-list'>
                <% results.forEach(function(post) {%>
                    <div class="post-container">
                        <li>
                            <div class="img-header">
                                <img src="<%= post.imageUrl %>" alt="Post image for <%= post.postedBy.name %>" width="60"
                                    height="60">
                            </div>
                            <div class="post-info">
                                <p class='title-details'>
                                    <b>
                                        <%= post.message %>
                                    </b>
                                    <em>posted by <a href="../users/<%=post.postedBy.id%>">
                                            <%= post.postedBy.username %>
                                        </a> on <%= post.createdAt %>
                                            </em>
                                </p>
                                <%if (post.likedBy.length> 0) {%>
                                    <p class='like-info'>
                                        <%= post.likedBy[0].name %>
                                            and <%= post.likedBy.length-1 %> others <b>like</b> this
                                    <% } %>
                                        <form method="post" action="/posts/<%= post.id %>/like/">
                                            <button type="submit">like</button>
                                        </form>
                                <%if (post.dislikedBy.length> 0) {%>
                                       <p class="like-info"><%= post.dislikedBy[0].name %>
                                            and <%= post.likedBy.length-1 %> others <b>dislike</b> this
                                    <% } %> </p>
                                
                                        <form method="post" action="/posts/<%= post.id %>/dislike/">
                                            <button type="submit">dislike</button></p>
                                        </form>
                            </div>
                        </li>
                    </div>
                    <% }); %>
            </ol>
            <%if (next) { %>
                <a href="<%= next %>">Next</a>
                <% } %>
                    <%if (previous) { %>
                        <a href="<%= previous %>">Previous</a>
                        <% } %>
        </body>
        <%- include('_footer') -%>

</html>