<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>
            <img src="<%= coverImageUrl %>" alt="Users cover image">
            <h1>
                <%= name %>
            </h1>
            <img src="<%= profileImageUrl %>" alt="Profile pic" width="100" height="100">

            <li>
                <em>
                    <%= username %>
                </em>
            <li>
                <%= posts.length %> posts,
            </li>
            <li>
                <%= likes.length %> likes,
            </li>
            <li>
                <%= dislikes.length %> dislikes
            </li>
            Contact </li>
            <li>
                <%= email %>
            </li>
        </body>
        <%- include('_footer') -%>

</html>