<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>
    <body>
            <div class="cover-container">
                <img class='cover-image' src="<%= coverImageUrl %>" alt="Users cover image">
            </div>
            <div class="profile-container">
                <div class='img-container'>
                    <img class="profile-image"src="<%= profileImageUrl %>" alt="Profile pic" width="100" height="100">
                </div>
                <div class="user-heading">
                    <h1><%= name %></h1>
                    <li><%= username %></li>
                    <li><%= email %></li>
                </div>
            </div>
            <h3 class='posts-title'><%= name %>'s posts</h3>
            <div class="user-info">
                <% posts.forEach(post => { %> 
                <div class="post-container">
                   
                    <div class="post-heading">
                        <img src="<%= post.imageUrl %>" alt="post image">
                    </div>
                    <div class="post-info">
                        <p class="post-message"><%= post.message %></p>
                    </div>
                </div> <% }) %>
            </div>
        </body>
        <%- include('_footer') -%>
</html>