<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Users</h1>
<ol>
    <% results.forEach(function(user) {%>
        <li>
            <a href="/users/<%=user.id%>">

                <img 
                src="<%= user.profileImageUrl %>" 
                alt="Profile image for <%= user.name %>" 
                width="50" 
                height="50">
                <br>
            </a>
            <b><%= user.name %></b>
            <em>
                <%= user.posts.length%> posts <br>
                <%= user.likes.length%> likes <br>
                <%= user.dislikes.length%> dislikes <br>
            </em>
        </li>
    <% }); %>
</ol>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>