<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>

        <body>
            <div class="heading-container"><h1>Users</h1></div>
            <ol>
                <% results.forEach(function(user) {%>
                    <ul class='user'>
                        <li>
                            <div class="user-list-heading">
                                <a href="/users/<%=user.id%>">
                                    <img
                                    class='profile-img' 
                                    src="<%= user.profileImageUrl %>" 
                                    alt="Profile image for <%= user.name %>" 
                                    width="50"
                                    height="50">
                                    <br>
                                </a>
                                <div class="user-list-heading">
                                    <h3 class='name'><b><%= user.name %></b></h3>
                                </div>
                            </div>
                        <li><p class='user-info'><%= user.posts.length%> posts</p></li>
                        <li><p class='user-info'><%= user.likes.length%> likes</p></li>
                        <li><p class='user-info'><%= user.dislikes.length%> dislikes</p></li>
                    </ul>
                        <% }); %>
            </ol>
            <%if (next) { %>
                <a href="<%= next %>">Next</a>
                <% } %>
                    <%if (previous) { %>
                        <a href="<%= previous %>">Previous</a>
                        <% } %>
        </body>
        <%- include('_footer') -%>

</html>