<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>
    <body>
            <div class="cover-container">
                <img class='cover-image' src="<%= coverImageUrl %>" alt="Users cover image">
            </div>
            <div class="profile-container">
                <div class='img-container'>
                    <img class="profile-image"src="<%= profileImageUrl %>" alt="Profile pic" width="100" height="100">
                </div>
                <div class="user-heading">
                    <h1><%= name %></h1>
                    <li><%= username %></li>
                    <li><%= email %></li>
                </div>
            </div>
            <div class="user-info">
                <%= posts.length %> posts</li>
                <div class="user-post-info">
                    <% posts.forEach(function(post) { %>
                    <li><%= post.message %></li>
                    <li><img class="post"
                        alt="post image"
                        width="50"
                        height="50"
                        src="<%= post.imageUrl %>"/></li>
                    <li>Posted on <%= post.createdAt %></li>
                <% }); %>
                </div>
                <li><%= likes.length %> likes</li>
                <li><%= dislikes.length %> dislikes</li>
                <li>Contact</li>
            </div>
        </body>
        <%- include('_footer') -%>
</html>